<!DOCTYPE html>
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
X

<head>
	<title>Available Products</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
		body {
			background-image: url('https://wallpaperbat.com/img/333697-supermarket-wallpaper.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}

		.tablebg {
			background-color: white;
		}
	</style>
</head>



<body>
	<div align="center" class="container my-2">

		<h1>List of Products</h1>
		<a th:href="@{/api/product/showNewProductForm}" class="btn btn-primary btn-sm mb-3"> Add Product </a>
		<table border="1" class="table table-striped table-responsive-md tablebg">
			<thead>
				<tr>

					<th>Title</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${listProducts}">

					<td th:text="${product.title}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.stock}"></td>
					<td>
						<a th:href="@{/api/product/buyProduct/{id}(id=${product.id})}" class="btn btn-success">Buy</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10 tablebg">
				<div class="col-sm-2">
					Total Rows: [[${totalItems}]]
				</div>
				<div class="col-sm-1 tablebg">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/api/product/page/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
					</span>
				</div>
				<div class="col-sm-1 tablebg">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/api/product/page/' + ${currentPage + 1}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1 tablebg">
					<a th:if="${currentPage < totalPages}" th:href="@{'/api/product/page/' + ${totalPages}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>